MONGO_USER=""
MONGO_PASS=""
AUTH_DB=""
REPLICA_SET_NAME=""

# Opcional: sobrescrever host do mongod local neste nó de backup
# MONGO_HOSTS="10.250.50.114:37017"
# BACKUP_DB="GARR_MONGO"

export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
